name: 04 - Using Actions
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@latest
      - name: Setup Node
        uses: actions/setup-node@latest
        with: 
          node-version: '20.19.5'
      - name: Install Dependencies
        run: npm ci
        working-directory: 04-using-actions

